<h3>Produto Visualizar</h3>  @*codigo html*@
:)

@*Comentario: Aqui conseguimos trabalhar com CSharp e tambem HTML, para trabalhar com CSharp
utilizamos o motor de template chamado Razor. Ele acionado quando colocarmos o @ *@

Razor:
<br />

@{
    string nome = "Francisco Rafael"; @* pode utilizar o  codigo csharp tambem dessa forma *@
 }
@nome

<br><br />

Todos os direitos reservados &copy;@DateTime.Now.Year