<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Layout</h1>
    <div>
        @RenderBody()  @*metodo RenderBody: Rederize o corpo,dentro vai ser apresentado
                       o conteudo do arquivo que a gente vai utilizar o conteudo
                        Fora do RenderBody a gente coloca o que se repete, DOCTYPE
                           o html, o cabeçalho, titulo, meta name, body, div*@
    </div>
</body>
</html>
